.header {
    color: white;
    background-color: black;
    height: 100px;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

body {
    border-style: hidden;
    background-color: aliceblue;
}
/*navigation css*/
ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    width: 16.663%;
    background-color: green;
}
li a{
    display: block;
    width: auto;
    padding: 8px; 
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: darkred;
    color: white;
}
h3 {
    text-align: center;
    font-size: 60px;
}
#maintitle{
    text-align: center;
    font-size: 35px;
}
p{
    text-align: center;
    font-size: 20px;
}
.footer{
    width: 100%;
}